// SPDX-License-Identifier: GPL-2.0-only
/*
 * Copyright (C) 2012 Texas Instruments Incorporated - http://www.ti.com/
 */

/dts-v1/;
/plugin/;

#include <dt-bindings/gpio/gpio.h>
#include <dt-bindings/pinctrl/am33xx.h>
#include <dt-bindings/interrupt-controller/irq.h>

/ {
	/*
	 * Free up the pins used by the cape from the pinmux helpers.
	 */
	fragment@0 {
		target = <&ocp>;
		__overlay__ {
			P8_35_pinmux { status = "disabled"; };	/* lcd_data12.gpio0_8 BT_EN */

			P8_11_pinmux { status = "disabled"; };	/* gpmc_ad13.mmc2_dat1 */
			P8_12_pinmux { status = "disabled"; };	/* gpmc_ad12.mmc2_dat0 */
			P8_14_pinmux { status = "disabled"; };	/* gpmc_ad10.gpio0_26 WL_EN */
			P8_15_pinmux { status = "disabled"; };	/* gpmc_ad15.mmc2_dat3 */
			P8_16_pinmux { status = "disabled"; };	/* gpmc_ad14.mmc2_dat2 */
			P8_17_pinmux { status = "disabled"; };	/* gpmc_ad11.gpio0_27 WL_IRQ */
			P8_18_pinmux { status = "disabled"; };	/* gpmc_clk.mmc2_clk */

			P8_13_pinmux { status = "disabled"; };	/* gpmc_ad9.gpio0_23 LS_BUF_EN */

			// BT UART
			P9_21_pinmux { status = "disabled"; };	/* (B17) spi0_d0.uart2_txd */
			P9_22_pinmux { status = "disabled"; };	/* (A17) spi0_sclk.uart2_rxd */
			P8_37_pinmux { status = "disabled"; };	/* (U1) lcd_data8.uart2_ctsn */
			P8_38_pinmux { status = "disabled"; };	/* (U2) lcd_data9.uart2_rtsn */

			P9_41_pinmux { status = "disabled"; };  /* (D14) xdma_event_intr1.clkout2 */
		};
	};

	fragment@1 {
		target-path="/";
		__overlay__ {
			model = "TI AM335x BeagleBone Black Wireless";
			compatible = "ti,am335x-bone-black", "ti,am335x-bone", "ti,am33xx";

			/*
			 * Helper to show loaded overlays under: /proc/device-tree/chosen/overlays/
			 */
			chosen {
				overlays {
					BB-BBBW-WL1835-00A0 = __TIMESTAMP__;
				};
			};

			wlan_en_reg: fixedregulator@2 {
				compatible = "regulator-fixed";
				regulator-name = "wlan-en-regulator";
				regulator-min-microvolt = <1800000>;
				regulator-max-microvolt = <1800000>;
				startup-delay-us= <70000>;

				/* WL_EN */
				gpio = <&gpio0 26 0>;
				enable-active-high;
			};

			leds {
				pinctrl-names = "default";
				pinctrl-0 = <&wl18xx_pins>;
				compatible = "gpio-leds";

				wl18xx_bt_en {
					label = "wl18xx_bt_en";
					gpios = <&gpio0 8 GPIO_ACTIVE_HIGH>;
					default-state = "off";
				};
			};
		};
	};

	fragment@2 {
		target = <&am33xx_pinmux>;
		__overlay__ {
			wl18xx_pins: pinmux_wl18xx_pins {
				pinctrl-single,pins = <
					AM33XX_IOPAD(0x8D0, PIN_OUTPUT_PULLDOWN | MUX_MODE7)	/* lcd_data12.gpio0_8 BT_EN*/
				>;
			};

			wlbtbuf_pin: pinmux_wlbtbuf_pin {
				pinctrl-single,pins = <
					AM33XX_IOPAD(0x824, PIN_OUTPUT_PULLUP | MUX_MODE7)	/* gpmc_ad9.gpio0_23 LS_BUF_EN */
				>;
			};

			mmc3_pins: pinmux_mmc3_pins {
				pinctrl-single,pins = <
					AM33XX_IOPAD(0x830, PIN_INPUT_PULLUP | MUX_MODE3)	/* gpmc_ad12.mmc2_dat0 */
					AM33XX_IOPAD(0x834, PIN_INPUT_PULLUP | MUX_MODE3)	/* gpmc_ad13.mmc2_dat1 */
					AM33XX_IOPAD(0x838, PIN_INPUT_PULLUP | MUX_MODE3)	/* gpmc_ad14.mmc2_dat2 */
					AM33XX_IOPAD(0x83c, PIN_INPUT_PULLUP | MUX_MODE3)	/* gpmc_ad15.mmc2_dat3 */
					AM33XX_IOPAD(0x888, PIN_INPUT_PULLUP | MUX_MODE3)	/* gpmc_csn3.mmc2_cmd */
					AM33XX_IOPAD(0x88c, PIN_INPUT_PULLUP | MUX_MODE3)	/* gpmc_clk.mmc2_clk */
				>;
			};

			mmc3_pins_sleep: pinmux_mmc3_pins_sleep {
				pinctrl-single,pins = <
					AM33XX_IOPAD(0x830, PIN_INPUT_PULLDOWN | MUX_MODE3)	/* gpmc_ad12.mmc2_dat0 */
					AM33XX_IOPAD(0x834, PIN_INPUT_PULLDOWN | MUX_MODE3)	/* gpmc_ad13.mmc2_dat1 */
					AM33XX_IOPAD(0x838, PIN_INPUT_PULLDOWN | MUX_MODE3)	/* gpmc_ad14.mmc2_dat2 */
					AM33XX_IOPAD(0x83c, PIN_INPUT_PULLDOWN | MUX_MODE3)	/* gpmc_ad15.mmc2_dat3 */
					AM33XX_IOPAD(0x888, PIN_INPUT_PULLDOWN | MUX_MODE3)	/* gpmc_csn3.mmc2_cmd */
					AM33XX_IOPAD(0x88c, PIN_INPUT_PULLDOWN | MUX_MODE3)	/* gpmc_clk.mmc2_clk */
				>;
			};

			/* wl18xx card enable/irq GPIOs. */
			wlan_pins: pinmux_wlan_pins {
				pinctrl-single,pins = <
					AM33XX_IOPAD(0x828, PIN_OUTPUT_PULLDOWN | MUX_MODE7)	/* gpmc_ad10.gpio0_26 WL_EN */
					AM33XX_IOPAD(0x82C, PIN_INPUT_PULLDOWN | MUX_MODE7)	/* gpmc_ad11.gpio0_27 WL_IRQ */
					/* a 32.768KHz clock feed to WL18XX pin EXT_32K */
					AM33XX_IOPAD(0x9B4, PIN_OUTPUT_PULLDOWN | MUX_MODE3)    /* xdma_event_intr1.clkout2 */
				>;
			};

			/* wl18xx card enable/irq GPIOs. */
			wlan_pins_sleep: pinmux_wlan_pins_sleep {
				pinctrl-single,pins = <
					AM33XX_IOPAD(0x828, PIN_OUTPUT_PULLDOWN | MUX_MODE7)	/* gpmc_ad10.gpio0_26 WL_EN */
					AM33XX_IOPAD(0x82C, PIN_INPUT_PULLDOWN | MUX_MODE7)	/* gpmc_ad11.gpio0_27 WL_IRQ */
				>;
			};

			uart2_pins_default: pinmux_uart2_pins_default {
				pinctrl-single,pins = <
					AM33XX_IOPAD(0x950, PIN_INPUT_PULLUP | MUX_MODE1 )	/* (A17) spi0_sclk.uart2_rxd */
					AM33XX_IOPAD(0x954, PIN_OUTPUT_PULLDOWN | MUX_MODE1 )	/* (B17) spi0_d0.uart2_txd */
					AM33XX_IOPAD(0x8C0, PIN_INPUT | MUX_MODE6 )		/* (U1) lcd_data8.uart2_ctsn */
					AM33XX_IOPAD(0x8C4, PIN_OUTPUT_PULLDOWN | MUX_MODE6 )	/* (U2) lcd_data9.uart2_rtsn */
				>;
			};

			uart2_pins_sleep: pinmux_uart2_pins_sleep {
				pinctrl-single,pins = <
					AM33XX_IOPAD(0x950, PIN_INPUT_PULLDOWN | MUX_MODE7 )	/* (A17) spi0_sclk.uart2_rxd */
					AM33XX_IOPAD(0x954, PIN_INPUT_PULLDOWN | MUX_MODE7 )	/* (B17) spi0_d0.uart2_txd */
					AM33XX_IOPAD(0x8C0, PIN_INPUT_PULLDOWN | MUX_MODE7 )	/* (U1) lcd_data8.uart2_ctsn */
					AM33XX_IOPAD(0x8C4, PIN_INPUT_PULLDOWN | MUX_MODE7 )	/* (U2) lcd_data9.uart2_rtsn */
				>;
			};
		};
	};

	fragment@200 {
		target = <&mac>;
		__overlay__ {
			status = "okay";
		};
	};

	fragment@3 {
		target = <&mmc3>;
		__overlay__ {
			dmas = <&edma_xbar 12 0 1
				&edma_xbar 13 0 2>;
			dma-names = "tx", "rx";
			status = "okay";
			vmmc-supply = <&wlan_en_reg>;
			bus-width = <4>;
			non-removable;
			cap-power-off-card;
			ti,needs-special-hs-handling;
			keep-power-in-suspend;
			pinctrl-names = "default", "sleep";
			pinctrl-0 = <&mmc3_pins &wlan_pins &wlbtbuf_pin>;
			pinctrl-1 = <&mmc3_pins_sleep &wlan_pins_sleep &wlbtbuf_pin>;

			#address-cells = <1>;
			#size-cells = <0>;
			wlcore: wlcore@2 {
				compatible = "ti,wl1835";
				reg = <2>;
				interrupt-parent = <&gpio0>;
				interrupts = <27 IRQ_TYPE_EDGE_RISING>;
			};
		};
	};

	fragment@4 {
		target = <&uart2>;
		__overlay__ {
			pinctrl-names = "default", "sleep";
			pinctrl-0 = <&uart2_pins_default>;
			pinctrl-1 = <&uart2_pins_sleep>;
			status = "okay";
		};
	};

	fragment@5 {
		target = <&gpio0>;
		__overlay__ {
			ls_buf_en {
				gpio-hog;
				gpios = <23 GPIO_ACTIVE_HIGH>;
				output-high;
				line-name = "LS_BUF_EN";
			};
		};
	};
};
