/*
 * Copyright (c) 2021 Seeed Studio
 *                    Peter Yang <turmary@126.com>
 *
 * Virtual cape for Zola Gateway
 *
 * This program is free software; you can redistribute it and/or modify
 * it under the terms of the GNU General Public License version 2 as
 * published by the Free Software Foundation.
 */
/dts-v1/;
/plugin/;

#include <dt-bindings/gpio/gpio.h>
#include <dt-bindings/board/am335x-bbw-bbb-base.h>
#include <dt-bindings/pinctrl/am33xx.h>

/ {
	compatible = "ti,beaglebone", "ti,beaglebone-black", "ti,beaglebone-green";

	/* identification */
	part-number = "BB-ZOLA-GATEWAY";
	version = "00A0";

	/* state the resources this cape uses */
	exclusive-use =
		/* the pin header uses */
		"P9.19",	/* dcan0_rx */
		"P9.20",	/* dcan0_tx */
		/* the hardware ip uses */
		"dcan0";

	/*
	 * Helper to show loaded overlays under: /proc/device-tree/chosen/overlays/
	 */
	fragment@1000 {
		target-path="/";
		__overlay__ {

			chosen {
				overlays {
					BB-ZOLA-GATEWAY-00A0 =__TIMESTAMP__;
				};
			};
		};
	};

	/*
	 * Free up the pins used by the cape from the pinmux helpers.
	 */
	fragment@1001 {
		target = <&ocp>;
		__overlay__ {
			P9_19_pinmux { status = "disabled"; };	/* P9_19: i2c2_scl.d_can0_rx */
			P9_20_pinmux { status = "disabled"; };	/* P9_20: i2c2_sda.d_can0_tx */

			/*
			 * Free up the gpios used by the cape-universal gpio helpers.
			 */
			cape-universal { status = "disabled"; };
		};
	};

	fragment@1002 {
		target = <&am33xx_pinmux>;
		__overlay__ {
			bb_dcan0_pins: pinmux_dcan0_pins {
				pinctrl-single,pins = <
					BONE_P9_19 (PIN_INPUT_PULLUP | MUX_MODE2)	/* P9_19: i2c2_scl.d_can0_rx */
					BONE_P9_20 (PIN_OUTPUT_PULLUP | MUX_MODE2)	/* P9_20: i2c2_sda.d_can0_tx */
				>;
			};
		};
	};

	fragment@1003 {
		target = <&dcan0>;
		__overlay__ {
			status = "okay";
			pinctrl-names = "default";
			pinctrl-0 = <&bb_dcan0_pins>;
		};
	};

	fragment@1010 {
		target = <&gpio1>;
		__overlay__ {
			vdd_5v_b_en {
				gpio-hog;
				gpios = <17 GPIO_ACTIVE_HIGH>;
				output-high;
				line-name = "VDD_5V_B_EN";
			};
		};
	};
};

/* MMC1(SDCard) CD gpio0_6 -> gpio3_14 */
&ocp {
	P9_31_pinmux { status = "disabled"; };	/* P9_31: mcasp0_aclkx.gpio3_14 */
};
&mmc1_pins {
	pinctrl-single,pins = <
		AM33XX_IOPAD(0x0990, PIN_OUTPUT | INPUT_EN | MUX_MODE7)  /* mcasp0_aclkx.gpio3_14 */
		AM33XX_PADCONF(AM335X_PIN_MMC0_DAT0, PIN_INPUT_PULLUP, MUX_MODE0)
		AM33XX_PADCONF(AM335X_PIN_MMC0_DAT1, PIN_INPUT_PULLUP, MUX_MODE0)
		AM33XX_PADCONF(AM335X_PIN_MMC0_DAT2, PIN_INPUT_PULLUP, MUX_MODE0)
		AM33XX_PADCONF(AM335X_PIN_MMC0_DAT3, PIN_INPUT_PULLUP, MUX_MODE0)
		AM33XX_PADCONF(AM335X_PIN_MMC0_CMD, PIN_INPUT_PULLUP, MUX_MODE0)
		AM33XX_PADCONF(AM335X_PIN_MMC0_CLK, PIN_INPUT_PULLUP, MUX_MODE0)
	>;
};

